<footer class="footer_section" th:fragment="footer">

    <div class="container">

        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>Bize Ulaşın</h4>

                    <div class="contact_link_box">
                        <a href="#">
                            <i class="fa fa-map-marker"></i>
                            <span>Lokasyon</span>
                        </a>

                        <a href="#">
                            <i class="fa fa-phone"></i>
                            <span>İletişim +90 1234567890</span>
                        </a>

                        <a href="#">
                            <i class="fa fa-envelope"></i>
                            <span>demo@gmail.com</span>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="#" class="footer-logo">Test</a>



                    <div class="footer_social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>

                </div>
            </div>

            <div class="col-md-4 footer-col">
                <h4>Çalışma Saatleri</h4>
                <p>Hergün</p>
                <p>10.00 ÖÖ – 10.00 ÖS</p>
            </div>

        </div>



    </div>

    <!-- JS -->
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <script th:src="@{/js/custom.js}"></script>

    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>

</footer>
