<table>
    <tr>
        <th>Ürün</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th></th>
    </tr>

    <tr th:each="item : ${cartItems}">
        <td th:text="${item.product.name}"></td>
        <td th:text="${item.product.price}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.product.price * item.quantity}"></td>
        <td>
            <a th:href="@{/cart/remove/{id}(id=${item.product.id})}">
                Sil
            </a>
        </td>
    </tr>
</table>

<h3>
    Toplam: <span th:text="${totalPrice}"></span> ₺
</h3>

<form th:action="@{/checkout}" method="post">
    <button type="submit">Siparişi Tamamla</button>
</form>
